@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/css/product.css" asp-append-version="true" />
<script src="~/js/product.js" asp-append-version="true"></script>

<!-- The website JavaScript file -->
<!--<script src="script.js" defer></script>-->
<div class="home">
    <div id="container">
        <div id="product-list"></div>

        <!-- CREATE -->
        <form id="create-product-form">
            <button type="submit">Create Product</button>
        </form>

        <!-- READ -->

        <!-- UPDATE -->
        <form id="update-product-form" style="display: none;">
            <button type="submit">Update Product</button>
        </form>

        <!-- DELETE -->

    </div>
</div>
