@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>



        <!-- The website JavaScript file -->
        <!--<script src="script.js" defer></script>-->
<div id="home">
    <div id="container">
        <div id="product-list"></div>

        <!-- CREATE -->
        <form id="create-product-form">
            <button type="submit">Create Product</button>
        </form>

        <!-- UPDATE -->
        <form id="update-product-form" style="display: none;">
            <button type="submit">Update Product</button>
        </form>
    </div>
</div>
